{% extends "main/base.html" %}
{% load static %}


{% block title %}Logowanie{% endblock %}

{% block header %}
    <div class="row justify-content-center m-4 mt-5">
        <h1 class="m-0 font-weight-bolder">
            Logowanie
        </h1>
    </div>
{% endblock header %}

{% block content %}

    <div class="row">
        <div class="col-6 offset-3">
            <p>Wypełnij poniższy formularz, aby się zalogować:</p>

            <form id="login_form" action="{% url 'login' %}" method="post">
                <div class="mb-1">
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>

                <div class="mb-3">
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>

                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>

                {% if form.errors %}
                    <p class="text-danger">
                    Nazwa użytkownika lub hasło są nieprawidłowe. 
                    Spróbuj ponownie.
                    </p>
                {% endif %}

                {% verbatim %}
                    <div id="login_button">
                        <button type="submit" class="btn btn-outline-dark my-3" @click="onClick">
                            <span v-if="clicked" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span v-if="clicked" class="sr-only"> Logowanie...</span>
                            <span v-else class="sr-only">Zaloguj się</span>
                        </button>
                    </div>
                {% endverbatim %}
            </form>
        
            <a href="{% url 'password_reset' %}" class="font-weight-bolder">
                Nie pamiętasz hasła?
            </a>

            <p>
                Nie posiadasz jeszcze konta? <a href="{% url 'register' %}" class="font-weight-bolder">Zarejestruj się!</a>
            </p>

        </div>
    </div>

    <script src="{% static 'js/login_button.js' %}"></script>

{% endblock %}