{% extends "account/edit/base_edit.html" %}
{% load static %}

{% block title %}
    Zmiana hasła
{% endblock title %}

{% block forms %}
        <div class="col-6 d-flex align-items-center justify-content-center text-start mt-5">            
            <form action="." method="post" class="w-75">
                <p>Podaj stare hasło, a następnie dwukrotnie nowe hasło:</p>

                <div class="mb-3">
                    <span class="me-2 fw-bolder ms-1">
                        Stare hasło:
                    </span>

                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>

                <div class="mb-3">
                    <span class="me-2 fw-bolder ms-1">
                        Nowe hasło:
                    </span>

                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </div>

                <div class="mb-3">
                    <span class="me-2 fw-bolder ms-1">
                        Powtórz hasło:
                    </span>

                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </div>

                {% csrf_token %}
                
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-dark my-3">
                        Zmień hasło
                    </button>
                </div>
            </form>
        </div>
{% endblock forms %}
    