{% extends "main/base.html" %}
 
{% block title %}Zerowanie hasła{% endblock %}

{% block header %}
    <div class="row justify-content-center m-4 mt-5">
        <h2 class="m-0 font-weight-bolder">
            Zerowanie hasła
        </h2>
    </div>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-6 offset-3">
            {% if validlink %}
                <p class="mt-3">Dwukrotnie podaj nowe hasło:</p>
                <form action="." method="post">
                    <div class="mb-1">
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                    </div>

                    <div class="mb-3">
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                    </div>
        
                    {% csrf_token %}
                    <p>
                        <button type="submit" class="btn btn-outline-dark my-3">Zmień hasło</button>
                    </p>
                </form>
            {% else %}
                <p class="mt-3">Łącze pozwalające na wyzerowanie hasła jest nieprawidłowe, ponieważ prawdopodobnie zostało już wcześniej użyte. Musisz ponownie rozpocząć procedurę zerowania hasła.</p>
            {% endif %}
        </div>
    </div>




{% endblock %}