{% extends "main/base.html" %}
{% load static %}
{% load thumbnail %}


{% block title %}
    Edycja konta
{% endblock title %}

{% block header %}
    <div class="row justify-content-center m-4">
        <h1 class="m-0 mb-1 font-weight-bolder">
            Ustawienia
        </h1>
    </div>
{% endblock header %}

{% block content %}
    <div class="row mb-2">
        <hr class="hr hr-bold bg-accent-color" />
    </div>

    <div class="row d-flex align-items-center">
        <div class="col-3 d-flex justify-content-end">
            <nav class="nav flex-column justify-content-center flex-nowrap border border-black border-1 h-100 rounded bg-secondary-color py-2">
                <a class="nav-link small-medium-font" href="{% url 'edit' %}">Konto</a>
                <a class="nav-link small-medium-font fw-bolder" href="{% url 'password_change' %}">Hasło</a>
                <a class="nav-link small-medium-font" href="#">Preferencje</a>
                <a class="nav-link small-medium-font" href="#">Prywatność</a>
                <a class="nav-link small-medium-font" href="#">Powiadomienia</a>
            </nav>
        </div>

        <div class="col-6 d-flex align-items-center justify-content-center text-start w-50 mt-5">            
            <form action="." method="post" class="w-75">
                <p>Podaj stare hasło, a następnie dwukrotnie nowe hasło:</p>

                <div class="mb-3">
                    <span class="me-2 fw-bolder ms-1">Stare hasło:</span>
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>

                <div class="mb-3">
                    <span class="me-2 fw-bolder ms-1">Nowe hasło:</span>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </div>

                <div class="mb-3">
                    <span class="me-2 fw-bolder ms-1">Powtórz hasło:</span>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </div>

                {% csrf_token %}
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-dark my-3">
                        Zmień hasło
                    </button>
                </div>

            </form>
        </div>

    </div>
    

{% endblock content %}
    