{% extends 'main/base.html' %}
 
{% block title %}Zerowanie hasła{% endblock title %}

{% block header %}
    <div class="row justify-content-center m-4 mt-5">
        <h2 class="m-0 font-weight-bolder">
            Zapomniałeś hasła?
        </h2>
    </div>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-6 offset-3">
            <p class="mt-3">Podaj adres e-mail, aby zdefiniować nowe hasło.</p>
            
            <form action="." method="post">
                <div class="mb-1">
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                {% csrf_token %}
                <p>
                    <button type="submit" class="btn btn-outline-dark my-3">
                        Wyślij e-mail
                    </button>
                </p>  
            </form>
        </div>
    </div>
{% endblock content %}