{% extends 'main/base.html' %}
 
{% block title %}Zerowanie hasła{% endblock title %}

{% block header %}
    <div class="row justify-content-center m-4 mt-5">
        <h2 class="m-0 font-weight-bolder">
            Zerowanie hasła
        </h2>
    </div>
{% endblock header %}

{% block content %}
    <p class="mt-3">
        Wysłaliśmy Ci wiadomość e-mail wraz z instrukcjami pozwalającymi na zdefiniowanie nowego hasła.
    </p>
    
    <p>
        Jeżeli nie otrzymałeś tej wiadomości, to upewnij się, że w formularzu zerowania hasła wpisałeś adres e-mail podany podczas zakładania konta użytkownika.
    </p>
{% endblock content %}