{% extends "main/base.html" %}
{% load static %}
{% load thumbnail %}


{% block title %}
    Dodaj post
{% endblock title %}

{% block header %}
    <div class="row justify-content-center m-4">
        <h1 class="m-0 mb-1 font-weight-bolder">
            Dodaj post
        </h1>
    </div>
{% endblock header %}

{% block content %}
    <div class="row mb-3">
        <hr class="hr hr-bold bg-accent-color" />
    </div>
    <div class="row mb-5 small-medium-font fst-italic subtle-color justify-content-center">
        Co gra Ci dzisiaj w duszy?
    </div>

    <div class="row d-flex">
        <div class="col-7 d-flex">
            <form id="post_form" action="." method="{% if current_status.value == 3%}post{% else %}get{% endif %}" class="w-100" enctype="multipart/form-data">
                
                <div class="mb-3 input-name-inline align-items-center">
                    <span class="fw-bolder">Tytuł:</span>
                    <div class=" d-flex w-75 ms-3">

                            {{ form.title }}
                            
                            {% comment %} {% if current_status.value == 1 %} {% endcomment %}
                                <button type="submit" class="btn btn-outline-dark px-3 ms-3">
                                    {% if current_status.value == 1 %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                    {% elif current_status.value == 2 %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                    </svg>
                                    {% elif current_status.value == 3 %}
                                    Udostępnij
                                    {% endif %}
                                </button>
                            {% comment %} {% endif %} {% endcomment %}
                                
                        {{ form.title.errors }}
                    </div>
                </div>

                {% if current_status.value == 2 or current_status.value == 3 %}
                    {{ form.song_choice }}
                {% endif %}

                
                {% if current_status.value == 2 %}
                    
                <div class="d-flex flex-wrap gap-4 justify-content-center pb-3">
                    {% for song in songs %}
                        <div data-id="{{ song.id }}" class="song pointer main-shadow-box bg-secondary-color d-flex flex-column small-font rounded mt-3 w-45 justify-content-between">
                            
                            <div class="d-flex mb-1 mt-2">
                                <div class="w-50">
                                    <img src="{{ song.album.images.1.url }}" class="create-post-image img-thumbnail">
                                </div>

                                <div class="w-50">
                                    <p class="me-1 mb-1 text-start"><b>{{ song.name|truncatechars:45 }}</b></p>
                                    <p class="me-1 mb-1 text-start">{{ song.album.name|truncatechars:45 }}</p>
                                    <p class="me-1 mb-1 text-start">
                                        {% for artist in song.artists %}
                                            | {{ artist.name }} | 
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>

                            <div class="d-flex flex-column justify-content-end mt-1">
                                <div class="my-1 w-100">gatunki muzyczne wykonawcy:
                                    <br>
                                    {% for el in genres_with_artist_id %}
                                        {% for artist in song.artists %}                                  
                                            {% if artist.id == el.artist_id %}
                                                {% for genre in el.artist_genres %}
                                                    | {{ genre }} |
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}                                        
                                    {% endfor %}
                                </div>

                                <div class="d-flex justify-content-center w-100 mb-2">
                                    <audio controls>
                                        <source src="{{ song.preview_url }}" type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>

                        </div>
                    {% endfor %}  
                </div>
                {% endif %}

                {% if current_status.value == 3 %}

                <div class="d-flex justify-content-center pb-3">
                        <div data-id="{{ song.id }}" class="song pointer main-shadow-box bg-secondary-color d-flex flex-column small-font border border-1 border-secondary rounded mt-3 w-45 justify-content-between">
                            
                            <div class="d-flex mb-1 mt-2">
                                <div class="w-50">
                                    <img src="{{ song.album.images.1.url }}" class="create-post-image img-thumbnail">
                                </div>

                                <div class="w-50">
                                    <p class="me-1 mb-1 text-start"><b>{{ song.name|truncatechars:45 }}</b></p>
                                    <p class="me-1 mb-1 text-start">{{ song.album.name|truncatechars:45 }}</p>
                                    <p class="me-1 mb-1 text-start">
                                        {% for artist in song.artists %}
                                            | {{ artist.name }} | 
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>

                            <div class="d-flex flex-column justify-content-end mt-1">
                                <div class="my-1 w-100">gatunki muzyczne wykonawcy:
                                    <br>
                                    {% for el in genres_with_artist_id %}
                                        {% for artist in song.artists %}                                  
                                            {% if artist.id == el.artist_id %}
                                                {% for genre in el.artist_genres %}
                                                    | {{ genre }} |
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}                                        
                                    {% endfor %}
                                </div>

                                <div class="d-flex justify-content-center w-100 mb-2">
                                    <audio controls>
                                        <source src="{{ song.preview_url }}" type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                </div>


                 <div class="mb-3 input-name-inline align-items-center justify-content-between">
                    <span class="fw-bolder">Tagi:</span>
                    <div class="w-75">
                        {{ form_pick.author_tags }}
                        {{ form_pick.author_tags.errors }}
                    </div>
                </div>
        
                <div class="mb-3 input-name-inline align-items-center justify-content-between">
                    <span class="fw-bolder">Oznacz znajomych:</span>
                    <div class="w-75">
                        {{ form_pick.friend_tags }}
                        {{ form_pick.friend_tags.errors }}
                    </div>
                </div>
                
                {% csrf_token %}

                {% endif %}

            </form>
        </div>

        <div class="col-5 d-flex flex-column align-items-center">
            <div>
                <div class="small-medium-font mb-3">
                    Podgląd
                </div>
                <div class="border border-1 border-black rounded bg-secondary-color">
                    *spotify things*
                </div>
                <div class="accent-font medium-font fw-bolder text-start">
                    Tytuł piosenki
                </div>
                <div class="xsmall-font fst-italic subtle-color text-start">
                    #usertag1 #usertag2 #usertag3 #usertag4 #zespoł #album #gatunek1 #gatunek2 #gatunek3 #gatunek4
                </div>
            </div>
        </div>
    </div>

    <script>
        const form = document.getElementById('post_form');
        const songs = Array.from(document.getElementsByClassName('song'));
        const song_choice_input = document.getElementById('id_song_choice');

        const selected_song_css_classes = ['accent-shadow-box']

        const selected_song = songs.filter(song => {
            const song_id = song.dataset.id;

            return song_choice_input.value === song_id;

        })[0];

        if (selected_song) {
            selected_song.classList.add(...selected_song_css_classes)
        }

        songs.forEach(song => {
            const song_id = song.dataset.id;

            song.addEventListener('click', event => {
                song_choice_input.value = song_id;

                songs.forEach(song => {
                    song.classList.remove(...selected_song_css_classes)
                })

                song.classList.add(...selected_song_css_classes)
            })
        })
    </script>
{% endblock content %}
    
    