{% extends "main/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {{ post.author }} | {{ post.name }}
{% endblock title %}


{% block content %}
<div class="row d-flex align-items-center justify-content-center">
    {% if messages %}
        {% for message in messages %}
            <div class="d-flex w-50 justify-content-center align-items-center py-3 mb-5 mt-3 rounded bg-secondary-color main-shadow-box" role="alert">
                {{ message|safe }}
            </div>
        {% endfor %}  
    {% endif %}
</div>

<div class="row mt-5">
<div class="d-flex p-0 mb-3 ms-3 ">
    <div class="d-flex profile-pic-small bg-gentle-color rounded border border-black border-2 accent-shadow-box">
        {% thumbnail post.author.profile.image "90x90" crop="true" as im %}
        <img src="{% if im %}{{ im.url }}{% else %}{% static 'profile_images/no_image.png' %}{% endif %}"
             class="img-fluid {% if im %}p-0{% else %}p-1{% endif %} rounded-1">
    </div>
    <div class="d-flex ms-3 flex-column align-items-start justify-content-end">
        <a href="{% url 'user_profile' post.author %}" class="fw-bolder medium-font">
            {{ post.author }}
        </a>
        <p class="small-font fst-italic mb-1"> {{ post.created|timesince }} temu</p>
    </div>
</div>
</div>

<div class="row mt-2">
    <div class="col-6 d-flex justify-content-start flex-column">

        <div class="d-flex flex-column justify-content-between border border-1 border-black rounded bg-spotify-color main-shadow-box">
            {% with post.friend_tags.all as friend_tags %}
            
            <div class="d-flex justify-content-between mx-2 mt-2 mb-4">
                <img src="{% static 'images/Spotify_Logo_CMYK_Green.png' %}" class="create-post-spotify-logo mx-4 my-2">
                {% if friend_tags.0.id != 1 and friend_tags.count > 0  %}
                    <div class="btn-group dropstart">
                        <button class="btn btn-sm rounded border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-tag-fill main-color" viewBox="0 0 16 16">
                                <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            </svg>
                        </button>
                        <ul class="dropdown-menu bg-secondary-color">
                            {% for friend in friend_tags %}
                                <li>
                                    <a class="dropdown-item small-font fst-italic" href="{% url 'user_profile' friend.username %}">
                                        @{{ friend }}
                                    </a>
                                </li> 
                            {% endfor %}  
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% endwith %}

            <div class="d-flex align-items-end h-100 m-3">
                <div class="d-flex bg-main-color mx-3"> 
                    {% with post.image as im %}
                    <img src="{{ im }}" 
                        class="create-post-image p-0"
                        id="preview_image">
                    {% endwith %}
                </div>

                <div class="d-flex flex-column text-start">
                        <p class="m-0 small-medium-font main-color fw-bolder">{{ post.name|truncatechars:45  }}</p>
                        <p class="m-0 main-color fst-italic">{{ post.album|truncatechars:45  }}</p>
                        <p class="m-0 main-color">
                            | {{ post.artists }} |
                        </p>
                </div>
            </div>

            <div class="d-flex justify-content-center mx-2 mb-3 mt-5" id="audio_container"> 
                {% if post.audio %}
                    <audio controls class="w-100">
                        <source src="{{ post.audio }}" type="audio/mpeg">
                    </audio>
                {% endif %}
            </div>
        </div>

        <div id="preview_main_title" class="d-flex accent-font medium-font fw-bolder text-start mt-2 justify-content-between align-items-center"> 
            <a href="{{ post.get_absolute_url }}">
                {{ post.name|truncatechars:45 }}
            </a>
            <div class="d-flex align-items-center">
                {% with post.users_like.all as post_likes %}
                    <div class="btn-group dropstart">
                        <button id="count_btn" class="btn rounded border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <a href="#">
                                <span class="fw-normal like-count medium-font">{{ post_likes.count }}</span>
                            </a>
                        </button>
                            
                        <ul class="dropdown-menu bg-secondary-color {% if not post_likes %}invisible{% endif %}"
                            id="likes_list"
                            data-current_user="{{ request.user.username }}">
                            {% for user in post_likes %}
                                <li data-user="{{ user.username }}">
                                    <a class="dropdown-item small-font fst-italic main-font"
                                       href="{% url 'user_profile' user.username %}">
                                        @{{ user }}
                                    </a>
                                </li> 
                            {% endfor %}  
                        </ul>
                    </div>

                    <a href="#"
                    class="btn btn-link me-2 ps-1 like {% if request.user == post.author %}pe-none{% endif %}"
                    data-id="{{ post.id }}"
                    data-action="{% if request.user in post_likes %}un{% endif %}like">  
                        <svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor"
                            class="bi bi-suit-heart-fill {% if request.user in post_likes %}accent-color{% else %}black-color{% endif %}"
                            viewBox="0 0 16 16"
                            id="heart-like-icon">
                            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                        </svg>
                    </a>
                {% endwith %}

                <span class="fw-normal">{{ post.comments.all.count }}</span>
                <button class="btn btn-link ps-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-fill black-color" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div id="preview_tags" class="xsmall-font fst-italic subtle-color text-start mb-3">                    
            {% for tag in post.author_tags %}
                #{{ tag }}
            {% endfor %}
            #{{ post.genre }}
        </div> 
    </div>

    <div class="col-6 d-flex justify-content-center flex-column">
        <p class="m-0 d-flex fw-bolder fst-italic">Komentarze:</p>

        <div class="d-flex justify-content-center">
            <hr class="hr hr-bold bg-accent-color w-100" />
        </div>

        <div>
            {% for comment in comments %}
            <div class="d-flex m-3">
                    {% thumbnail comment.username.profile.image "90x90" crop="true" as im %}
                    <img class="profile-pic-xsmall m-2 bg-gentle-color rounded border border-black border-2 accent-shadow-box {% if im %}p-0{% else %}p-1{% endif %}"
                         src="{% if im %}{{ im.url }}{% else %}{% static 'profile_images/no_image.png' %}{% endif %}">
                    <a href="{% url 'user_profile' comment.username.username %}" class="fw-bolder m-1">
                        {{ comment.username.username }}
                    </a>

                <div class="d-flex flex-column w-100">
                    <div class="align-self-end xsmall-font subtle-color fst-italic m-1">
                        {{ comment.created|timesince }} temu
                    </div>

                    <div class="d-flex m-2 me-5 rounded bg-secondary-color main-shadow-box flex-column">
                        {% if request.user == comment.username %}
                            <div class="d-flex justify-content-end me-1">
                                <a href="{% url 'posts:delete_comment' post_id=post.id comment_id=comment.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </a>
                            </div>
                        {% endif %}

                        <div class="text-start text-break p-3 {% if request.user == comment.username %}pt-0{% endif %}">
                            {{ comment.body }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}   
        </div>

        <form action="." method="post">
            <div class="d-flex justify-content-center flex-column h-25 mt-3">
                <textarea class="form-control" name="body" cols="40" rows="10" required="" id="id_body"></textarea>
            </div>
            {% csrf_token %}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-dark my-3">
                    Dodaj komentarz
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}


{% block domready %}
    $('a.like').click(function(e) {
        e.preventDefault();
        $.post('{% url "posts:like" %}', {id: $('a.like').data('id'), action: $('a.like').data('action')},
        function(response) {
            if (response['status'] == 'ok') {
                var previous_action = $('a.like').data('action');

                $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                $('#heart-like-icon').addClass(previous_action == 'like' ? 'accent-color' : 'black-color');
                $('#heart-like-icon').removeClass(previous_action == 'like' ? 'black-color' : 'accent-color');

                var previous_likes = parseInt($('span.like-count').text());
                
                $('span.like-count').text(previous_action == 'like' ? previous_likes + 1: previous_likes - 1);
            
                const likes_list = $('#likes_list');
                const current_user = likes_list.data('current_user')
                
                if (previous_action === 'unlike') {
                    const user_like = Array.from(likes_list.children()).find(el => el.dataset.user === current_user)
                    
                    $(user_like).remove()

                    if (likes_list.children().length === 0) {
                        likes_list.addClass('invisible')
                   }
                } else {
                    const user_like = $("<li></li>");
                    const user_like_content = $("<a></a>");
                    user_like.attr('data-user', current_user);

                    user_like_content.addClass('dropdown-item small-font fst-italic main-font')
                    user_like_content.text('@' + current_user)
                    user_like_content.attr('href', "/account/users/" + current_user + "/");

                    user_like.prepend(user_like_content)

                    likes_list.prepend(user_like)

                    if (likes_list.children().length > 0) {
                        likes_list.removeClass('invisible')
                   }
                }
            }
        });
    });
{% endblock domready %}
    
