{% extends "main/base.html" %}
{% load static %}
{% load thumbnail %}
{% load humanize %}

{% block content %}
    <div class="d-flex flex-column align-items-center mb-2">
        {% if actions %}    
            {% for action in actions %}
                {% with action.user as user %}
                    <div class="d-flex rounded main-shadow-box my-2 w-50 bg-secondary-color justify-content-evenly">
                        <div class="d-flex justify-content-center align-items-center m-3">
                            <a href="{% url 'user_profile' user.username %}" class="d-flex align-items-start">
                                <div class="d-flex profile-pic-small bg-gentle-color rounded border border-black border-2 accent-shadow-box">
                                    {% thumbnail user.profile.image "90x90" crop="true" as im %}
                                    <img src="{% if im %}{{ im.url }}{% else %}{% static 'profile_images/no_image.png' %}{% endif %}"
                                        class="img-fluid {% if im %}p-0{% else %}p-1{% endif %} rounded-1">
                                </div>    
                            </a>
                        </div>

                        <div class="d-flex flex-column justify-content-evenly align-items-start my-1 w-75">
                            <div>
                                <a href="{% url 'user_profile' user.username %}"> {{ user.username }}</a>
                                {{ action.verb }}
                                {% if action.verb != 'oznacza Cię w swoim poście.' %}
                                    <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
                                {% endif %}
                            </div>

                            <span class="small-font subtle-color fst-italic m-1">
                                {{ action.created|naturaltime }}
                            </span>
                        </div>

                        <div class="d-flex m-3">
                            {% if action.target.image %}
                                <a href="{{ action.target.get_absolute_url }}">
                                    <img src="{{ action.target.image }}" 
                                    class="notification-post-image">
                                </a>
                            {% endif %}
                        </div>
                    </div> 
                {% endwith %}
            {% endfor %}
        {% else %}
            {% block no_actions %}
            {% endblock no_actions %}
        {% endif %}
    </div>
{% endblock content %}
