{% extends "account/user/profile_head.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {{ user.get_username }} | obserwowani
{% endblock title %}

{% block details %}
    <div class="row">
        <div class="d-flex mb-2 mt-5 justify-content-evenly">
            <a href="{% url 'following_list' request.user.username %}" class="small-medium-font fw-bolder main-shadow">
                Obserwowani
            </a>
            <a href="{% url 'followers_list' request.user.username %}" class="small-medium-font subtle-color">
                Obserwujący
            </a>
        </div>
    </div>

    <div class="row mb-2 d-flex justify-content-center">
        <hr class="hr hr-bold bg-accent-color w-75" />
    </div>

    <div class="row d-flex flex-wrap">
        <div class="col-2"></div>

        <div class="col-8 d-flex flex-wrap p-0">
            {% for following in followings %}
                <div class="d-flex my-3 w-33">
                    {% thumbnail following.profile.image "90x90" crop="true" as im %}
                    <img class="profile-pic-medium m-2 bg-gentle-color rounded border border-black border-2 accent-shadow-box {% if im %}p-0{% else %}p-1{% endif %}"
                        src="{% if im %}{{ im.url }}{% else %}{% static 'profile_images/no_image.png' %}{% endif %}">
                    
                    <div class="d-flex flex-column align-items-start justify-content-between">
                        <a href="{% url 'user_profile' following.username %}" class="fw-bolder m-3 mb-1">
                            {{ following.username }}
                        </a>
                                    
                        {% if following in request.user.followers.all %}
                            <p class="small-font fst-italic text-start m-1 ms-3 mb-3">
                                Obserwuje Cię
                            </p>
                        {% endif %}
                            
                        {% if following not in request.user.following.all %}
                            <button class="btn btn-outline-dark mb-3 ms-3">
                                Obserwuj
                            </button>
                        {% else %}
                            <button class="btn btn-outline-dark mb-3 ms-3">
                                Nie obserwuj
                            </button>
                        {% endif %}
                    </div>     
                </div>
            {% endfor %}
        </div>

        <div class="col-2"></div> 
    </div>
{% endblock details %}
    