{% extends "account/edit/base_edit.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
    Usuwanie konta
{% endblock title %}

{% block forms %}
    <div class="col-6 d-flex align-items-center justify-content-center text-start mt-5 flex-column">
        <p class="fw-bolder accent-color">Czy na pewno chcesz usunąć swoje konto?</p>
        <div class="d-flex">
            <form action="." method="post">
                <p>
                    <label for="id_confirmation" class="me-1">Aby potwierdzić zaznacz to pole:</label>
                    <input type="checkbox" name="confirmation" required id="id_confirmation">
                </p>
                <div class="d-flex justify-content-center">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark my-3 me-3">
                        Tak
                    </button>
                    <a href="{% url 'edit_account' %}" class="btn btn-outline-dark my-3 ms-3">
                        Nie
                    </a>
                </div>
            </form>
        </div>
    </div>
    
    <div class="col-3 d-flex align-self-start align-items-center justify-content-center mt-5 flex-column">
        <div class="d-flex justify-content-center profile-pic-large bg-gentle-color rounded border border-black border-2 accent-shadow-box">
            {% thumbnail request.user.profile.photo "100x100" crop="true" as im %}
            <img src="{% if im %}{{ im.url }}{% else %}{% static 'profile_photos/no_image.png' %}{% endif %}"
                 class="img-fluid {% if im %}p-0{% else %}p-1{% endif %} rounded-1">
        </div>
        <p class="text-start medium-font ls-wider mt-3">
            <a href="{% url 'user_profile' user.username %}">{{ user.username }}</a>
        </p>
    </div>
{% endblock forms %}
    