{% extends "main/base.html" %}

{% block header %}
    <div class="row justify-content-center m-4">
        <h1 class="m-0 mb-1 font-weight-bolder">
            Ustawienia
        </h1>
    </div>
{% endblock header %}

{% block content %}
    <div class="row mb-2">
        <hr class="hr hr-bold bg-accent-color" />
    </div>
    
    <div class="row d-flex">
        <div class="col-3 d-flex justify-content-center mt-5 ">
            <nav class="nav flex-column justify-content-center flex-nowrap border border-black border-1 rounded bg-secondary-color py-2 side-navbar">
                <a class="nav-link small-medium-font {% if 'edit/account' in request.path %} fw-bolder {% endif %}"
                   href="{% url 'edit_account' %}">Konto</a>
                <a class="nav-link small-medium-font {% if 'password_change' in request.path %} fw-bolder {% endif %}"
                   href="{% url 'password_change' %}">Hasło</a>
                <a class="nav-link small-medium-font {% if 'privacy' in request.path %} fw-bolder {% endif %}"
                   href="{% url 'edit_privacy' %}">Prywatność</a>
                <a class="nav-link small-medium-font" href="#">Powiadomienia</a>
            </nav>
        </div>
    {% block forms %}
    {% endblock forms %}
    </div>
    
    <div class="row d-flex align-items-center justify-content-center">
        {% if messages %}
            {% for message in messages %}
                <div class="d-flex w-50 justify-content-center align-items-center py-3 mb-5 mt-3 rounded bg-secondary-color main-shadow-box" role="alert">
                    {{ message|safe }}
                </div>
            {% endfor %}  
        {% endif %}
    </div>
{% endblock content %}
    