{% extends "main/base.html" %}
{% load static %}
{% load thumbnail %}


{% block content %}
    <div class="row mt-5">
        <div class="col-2 d-flex align-items-center flex-column">
            {% comment %} TODO add href to profile {% endcomment %}
                <div class="d-flex justify-content-center profile-pic bg-gentle-color rounded border border-black border-2 accent-shadow-box">
                    {% thumbnail request.user.profile.photo "90x90" crop="true" as im %}
                    <img src="{% if im %}{{ im.url }}{% else %}{% static 'profile_photos/no_image.png' %}{% endif %}"
                         class="img-fluid {% if im %}p-0{% else %}p-1{% endif %} rounded">
                </div>
                <p class="mt-2 small-medium-font">
                    <a href="{% url 'user_profile' request.user.username %}">{{ request.user.username }}</a>
                </p>
        </div>
        <div class="col-8 ">
            <div class="d-flex mb-2 justify-content-evenly">
                <a href="{% url 'dashboard' %}"
                   class="small-medium-font {% if not action %}fw-bolder{% else %}subtle-color{% endif %}">
                   Znajomi
                </a>
                <a href="{% url 'dashboard' action='all' %}"
                   class="small-medium-font {% if action %}fw-bolder{% else %}subtle-color{% endif %}">
                    Kanał główny
                </a>
            </div>
            <div class="row mb-2 d-flex justify-content-center">
                <hr class="hr hr-bold bg-accent-color w-75" />
            </div>
            <div class="d-flex flex-column align-items-center" id="post_list">
                {% include 'account/user/profile_ajax_list.html' %}
            </div>

            
        </div>
        <div class="col-2 new-post-btn-container fixed-bottom">
            <a href="{% url 'posts:create_post' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
            </a>
        </div>
    </div>
{% endblock content %}
    

{% block domready %}
var page = 1;
var empty_page = false;
var block_request = false;

$(window).scroll(function() {
    var margin = $(document).height() - $(window).height() - 200;
    if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
        block_request = true;
        page += 1;
        $.get('?page=' + page, function(data) {
            if (data == '') {
                empty_page = true;
            } else {
                block_request = false;
                $('#post_list').append(data);
            }
        });
    }
});
{% endblock domready %}
    
