{% extends "main/base.html" %}
{% load static %}
{% load thumbnail %}


{% block title %}
    Edycja konta
{% endblock title %}

{% block header %}
    <div class="row justify-content-center m-4">
        <h1 class="m-0 mb-1 font-weight-bolder">
            Ustawienia
        </h1>
    </div>
{% endblock header %}

{% block content %}
    <div class="row mb-2">
        <hr class="hr hr-bold bg-accent-color" />
    </div>

    <div class="row d-flex align-items-center">
        <div class="col-3 d-flex justify-content-end">
            <nav class="nav flex-column justify-content-center flex-nowrap border border-black border-1 h-100 rounded bg-secondary-color py-2">
                <a class="nav-link small-medium-font fw-bolder" href="{% url 'edit' %}">Konto</a>
                <a class="nav-link small-medium-font" href="{% url 'password_change' %}">Hasło</a>
                <a class="nav-link small-medium-font" href="#">Preferencje</a>
                <a class="nav-link small-medium-font" href="#">Prywatność</a>
                <a class="nav-link small-medium-font" href="#">Powiadomienia</a>
            </nav>
        </div>

        <div class="col-6 d-flex align-items-center justify-content-center text-start w-50 mt-5">
            <form action="." method="post" enctype="multipart/form-data" class="w-75">

                <div class="mb-3">
                    <span class="me-2 fw-bolder ms-1">Zdjęcie profilowe:</span>
                    {% comment %} {{ profile_form.photo }} {% endcomment %}
                    <div class="input-group">
                        <input type="file" name="photo" accept="image/*" id="id_photo" class="form-control">
                    </div>
                    
                    {{ profile_form.photo.errors }}
                </div>

                <div class="mb-3">
                    <span class="me-2 fw-bolder ms-1">Nazwa użytkownika:</span>
                    {{ user_form.username }}
                    {{ user_form.username.errors }}
                </div>

                <div class="mb-3">
                    <span class="me-2 fw-bolder ms-1">Adres e-mail:</span>
                    {{ user_form.email }}
                    {{ user_form.email.errors }}
                </div>

                {% csrf_token %}
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-dark my-3">
                        Zapisz zmiany
                    </button>
                </div>
            </form>

        </div>

        <div class="col-3 d-flex align-self-start justify-content-start mt-5">
            <div class="d-flex justify-content-center profile-pic-large bg-gentle-color rounded border border-black border-2 accent-shadow-box">
                {% thumbnail request.user.profile.photo "100x100" crop="true" as im %}
                <img src="{% if im %}{{ im.url }}{% else %}{% static 'profile_photos/no_image.png' %}{% endif %}" class="img-fluid p-1 rounded">
            </div>
        </div>

    </div>
    
    <div class="row d-flex align-items-center justify-content-center">
        {% if messages %}
            {% for message in messages %}
                <div class="d-flex w-50 justify-content-center align-items-center py-3 mb-5 mt-3 rounded bg-secondary-color main-shadow-box" role="alert">
                    {{ message|safe }}
                </div>
            {% endfor %}  
        {% endif %}
    </div>
{% endblock content %}
    