{% load static %}
{% comment %} {% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %} {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Judson&family=Lexend:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="nav">
        <a class="logo" href="{% url 'home' %}">
            Musicary
        </a>
        <span class="nav-actions">
            <a href="{% url 'login' %}" class="nav-action link">
                Zaloguj się
            </a>
            <a href="{% url 'logout' %}" class="nav-action link">
                Zarejestruj się
            </a>
        </span>
    </nav>


    <div class="container text-center">
        
        {% block header %}
        {% endblock header %}

        <div class="row">
            <hr class="hr hr-bold" />
        </div>
        
        {% block content %}
        {% endblock content %}
    </div>


        
</body>
</html>