{% load static %}
{% comment %} {% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %} {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Judson&family=Lexend:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{% static 'css/variables.css' %}" rel="stylesheet">
    <link href="{% static 'css/utils.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>

<body class="bg-main-color main-font d-flex flex-column min-vh-100">

    <nav class="bg-secondary-color d-flex justify-content-between align-items-center main-shadow px-5 m-4 rounded">
        <a href="{% url 'home' %}" class="large-font black-color accent-font font-weight-bolder text-decoration-none">
            Musicary
        </a>
        <span class="gap-2 d-flex">
            <a href="{% url 'login' %}" class="p-2 small-medium-font">
                Zaloguj się
            </a>
            <a href="{% url 'logout' %}" class="p-2 pe-0 small-medium-font">
                Zarejestruj się
            </a>
        </span>
    </nav>

    <div class="container text-center">
        
        {% block header %}
        {% endblock header %}

        <div class="row">
            <hr class="hr hr-bold bg-accent-color" />
        </div>

        {% block content %}
        {% endblock content %}
    </div>

    <footer class="mt-auto bg-secondary-color d-flex justify-content-center align-items-center">
        <span class="subtle-color small-font">
            Musicary® 2023 <i>spirteque</i>
        </span>
    </footer>
        
</body>
</html>