{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Musicary
{% endblock title %}
    

{% block header %}
    <div class="row justify-content-center m-4 mt-5">
        <h1 class="m-0 font-weight-bolder main-shadow">
            Witaj na portalu <span class="accent-color">Musicary</span>!
        </h1>
    </div>
{% endblock header %}
    

{% block content %}
    <div class="row mb-5 mt-3">
        <div class="text-center d-flex justify-content-center align-items-center">
            <h5 class="fst-italic subtle-color">
                To miejsce, w którym <b class="black-color">każdy</b> może podzielić się swoją codziennością poprzez <b class="accent-color">muzykę</b>.
            </h5>
        </div>
    </div>


    <div class="row my-4">
        <div class="col text-center d-flex justify-content-center align-items-center mx-2">
            <h3 class="lh-lg mb-5 fw-bolder main-shadow">
                Twórz z łatwością posty inspirowane muzyką!
            </h3>
        </div>

        <div class="col-8 rounded all-main-shadow-box">
            <div id="carousel" class="carousel slide carousel-dark">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/welcome_page_1_1.png' %}" class="d-block carousel-img-height mx-auto mb-5">
                        <div class="carousel-caption d-none d-md-block opacity-90 bg-gentle-color main-shadow rounded p-0 pt-1 mx-2 start-0 end-0">
                            <p>Dziel się z innymi muzyką, dzięki kreatorowi korzystającemu z bazy danych
                                <img src="{% static 'images/Spotify_Logo_CMYK_Black.png' %}" class="welcome-page-spotify-logo ms-1">.
                            </p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="{% static 'images/welcome_page_1_2.png' %}" class="d-block carousel-img-height mx-auto mb-5">
                        <div class="carousel-caption d-none d-md-block opacity-90 bg-gentle-color main-shadow rounded p-0 pt-1 mx-2 start-0 end-0">
                            <p>Poprzez tagi opisz nastrój, który Ci towarzyszy oraz oznacz swoich przyjaciół.</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="{% static 'images/welcome_page_1_3.png' %}" class="d-block carousel-img-height mx-auto mb-5">
                        <div class="carousel-caption d-none d-md-block opacity-90 bg-gentle-color main-shadow rounded p-0 pt-1 mx-2 start-0 end-0">
                            <p>Twórz swój muzyczny pamiętnik.</p>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-4">
        <div class="col-8 rounded all-main-shadow-box">
            <div id="carousel2" class="carousel slide carousel-dark">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/welcome_page_2_1.png' %}" class="d-block carousel-img-height mx-auto mb-5">
                        <div class="carousel-caption d-none d-md-block opacity-90 bg-gentle-color main-shadow rounded p-0 pt-1 mx-2 start-0 end-0">
                            <p>Sprawdź, co gra w duszy Twoim znajomym i innym użytkownikom Musicary na Kanale głównym.</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="{% static 'images/welcome_page_2_2.png' %}" class="d-block carousel-img-height mx-auto mb-5">
                        <div class="carousel-caption d-none d-md-block opacity-90 bg-gentle-color main-shadow rounded p-0 pt-1 mx-2 start-0 end-0">
                            <p>Śledź aktywność na swoim profilu, zarówno Twoich znajomych…</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="{% static 'images/welcome_page_2_3.png' %}" class="d-block carousel-img-height mx-auto mb-5">
                        <div class="carousel-caption d-none d-md-block opacity-90 bg-gentle-color main-shadow rounded p-0 pt-1 mx-2 start-0 end-0">
                            <p>… jak i swoją własną!</p>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        
        <div class="col text-center d-flex justify-content-center align-items-center mx-2">
            <h3 class="lh-lg mb-5 fw-bolder main-shadow">
                Śledź aktywność na Twoim profilu.
            </h3>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col text-center d-flex justify-content-center align-items-center mx-2">
            <h3 class="lh-lg mb-5 fw-bolder main-shadow">
                Poznawaj nowe osoby oraz muzykę.
            </h3>
        </div>

        <div class="col-8 rounded all-main-shadow-box">
            <div id="carousel3" class="carousel slide carousel-dark">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/welcome_page_3_1.png' %}" class="d-block carousel-img-height mx-auto mb-5">
                        <div class="carousel-caption d-none d-md-block opacity-90 bg-gentle-color main-shadow rounded p-0 pt-1 mx-2 start-0 end-0">
                            <p>Komentuj i daj serduszko muzyce udostępnionej przez innych wchodząc w szczegóły posta.</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="{% static 'images/welcome_page_3_2.png' %}" class="d-block carousel-img-height mx-auto mb-5">
                        <div class="carousel-caption d-none d-md-block opacity-90 bg-gentle-color main-shadow rounded p-0 pt-1 mx-2 start-0 end-0">
                            <p>Z łatwością zaobserwuj innych użytkowników i śledź ich muzyczną drogę.</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="{% static 'images/welcome_page_3_3.png' %}" class="d-block carousel-img-height mx-auto mb-5">
                        <div class="carousel-caption d-none d-md-block opacity-90 bg-gentle-color main-shadow rounded p-0 pt-1 mx-2 start-0 end-0">
                            <p>Znajdź swoich znajomych, bądź interesujące Cię posty.</p>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="row d-flex my-5 justify-content-center">
        <div class="d-flex col-3 justify-content-center">
            <a href="{% url 'register' %}" class="btn btn-outline-dark btn-lg">
                Dołącz do nas już teraz!
            </a>
        </div>
    </div>
{% endblock content %}
    
    
    