{% extends 'main/base.html' %}

{% block title %}
    Musicary Home Page
{% endblock title %}
    


{% block header %}
    <div class="row justify-content-center m-4 mt-5">
        <h1 class="main-header m-0">
            Witaj na portalu <span class="primary-red">Musicary</span>!
        </h1>
    </div>
{% endblock header %}
    

{% block content %}
    <div class="row mt-3">
        <div class="col text-center d-flex justify-content-center align-items-center description border border-dark">
            <p>
                To miejsce, w którym każdy może podzielić się swoją codziennością poprzez muzykę.
            </p>
        </div>
        <div class="col-8 text-center d-flex justify-content-center align-items-center border border-dark">
            [ Tutaj będą foty w karuzeli (js?) ]
        </div>
    </div>
{% endblock content %}
    
    
    