a {
    text-decoration: none;
    color: var(--black-color);
}

a:hover {
    color: var(--accent-color);
}

hr {
    height: 2px;
    opacity: 1;
    border: 0;  
}

nav {
    height: 3.5rem;
}

footer {
    height: 2rem;
}

.description {
    height: 20rem
}

.error_class {
    color: rgba(var(--bs-danger-rgb))!important;
    font-size: 0.95rem;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}