a {
    text-decoration: none;
    color: var(--black-color) !important;
}

a:hover {
    color: var(--accent-color) !important;
}

hr {
    height: 2px;
    opacity: 1;
    border: 0;  
}

nav {
    height: 3.5rem;
}

footer {
    height: 2rem;
}

.description {
    height: 20rem
}

.error_class {
    color: rgba(var(--bs-danger-rgb))!important;
    font-size: 0.95rem;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
    --webkit-box-shadow: none !important;
}

.profile-pic {
    width: 5.625rem;
    height: 5.625rem;
}

.profile-pic-medium {
    width: 7rem;
    height: 7rem;
}

.profile-pic-large {
    width: 8rem;
    height: 8rem;
}

.profile-pic-container {
    left: 8%;
    top: 25%;
}

.new-post-btn-container {
    left: initial;
    top: initial;
    right: 8%;
    bottom: 10%;
}

.side-navbar {
    height: 14.25rem;
}

.input-name-inline {
    display: -webkit-flex;
    text-align: -webkit-left;
}

.post-draft {
    width: 477px;
    height: 268px;
}

.create-post-image {
    width: 125px;
    height: 125px;
}