/* ---- colors ---- */

.bg-main-color {
    background-color: var(--main-color);
}

.main-color {
    color: var(--main-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.bg-black-color {
    background-color: var(--black-color);
}

.black-color {
    color: var(--black-color);
}

.bg-accent-color {
    background-color: var(--accent-color);
}

.accent-color {
    color: var(--accent-color);
}

.bg-subtle-color {
    background-color: var(--subtle-color);
}

.subtle-color {
    color: var(--subtle-color) !important;
}

.bg-gentle-color {
    background-color: var(--gentle-color);
}

.gentle-color {
    color: var(--gentle-color);
}

.bg-spotify-color {
    background-color: #191414;
}

/* ----- fonts ----- */

.main-font {
    font-family: var(--main-font);
}

.accent-font {
    font-family: var(--accent-font);
}

.font-weight-bolder {
    font-weight: var(--font-weight-bolder);
}

.large-font {
    font-size: var(--large-font);
}

.medium-large-font {
    font-size: var(--medium-large-font);
}

.medium-font {
    font-size: var(--medium-font);
}
.small-medium-font {
    font-size: var(--small-medium-font);
}

.small-font {
    font-size: var(--small-font);
}

.xsmall-font {
    font-size: var(--xsmall-font);
}

/* --------- shadows ---------- */

.main-shadow {
    filter: drop-shadow(var(--main-shadow));
}

.main-shadow-box {
    box-shadow: var(--main-shadow);
}

.all-main-shadow-box {
    box-shadow: var(--all-main-shadow);
}

.accent-shadow {
    filter: drop-shadow(var(--accent-shadow));
}

.accent-shadow-box {
    box-shadow: var(--accent-shadow);
}

/* ------------------- */


.w-40 {
    width: 40% !important;
}

.mt-1\.5 {
    margin-top: 0.4rem !important;
}

.content-none::after {
    content: none;
}

.w-fit-content {
    width: fit-content !important;
}

.pointer-events-none {
    pointer-events: none;
}

/* -------- overridden Bootstrap ----------- */

.dropdown-item:hover {
    background-color: var(--gentle-color);
}

/* ------------------- */

.rounded-bottom-only {
    border-bottom-right-radius: var(--bs-border-radius)!important;
    border-bottom-left-radius: var(--bs-border-radius)!important;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.pointer {
    cursor: pointer;
}


