:root {
    --main-color: #ececec;
    --secondary-color: #cccccc;
    --black-color: black;
    --accent-color: #96233f;
    --subtle-color: #666666;
    --gentle-color: #b1b1b1;
    --main-font: 'Lexend', sans-serif;
    --accent-font: 'Judson', serif;
    --font-weight-bolder: 700;
    --main-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    --accent-shadow: 0 0 3px 4px var(--accent-color);
    --large-font: 2.25rem;
    --medium-font: 1.25rem;
    --small-medium-font: 1.125rem;
    --small-font: 0.75rem;
    --xsmall-font: 0.65rem;
}